Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
prodDb.mv.db
bin
package.json
package-lock.json
node_modules/
cypress/screenshots/
cypress/videos/
cypress/fixtures/
cypress/plugins/
cypress/support/
results/
